body {
  width: 1000px;
  margin: auto;
  font-family: "Open Sans";
  padding: 10px;
}

div.tab_bar {
  margin-top: 10px;
  position: relative;
  top: 1px;
}

div.tab {
  cursor: pointer;
  display: inline-block;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-top-right-radius: 5px;
  border-left: 1px solid #333333;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #333333;
  padding: 10px;
  margin: 0px;
}

div.sheet {
  padding: 20px;
  display: none;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.data input {
  padding-left: 3px;
  margin:0;
  display:block;
  border:none;
}
.data td {
  padding:0.2em;
  border-right: 1px solid #555555;
}
.data td:last-child {
  border: none;
}
.data tr {
  padding:0;
  margin:0;
  border-bottom: 1px solid #555555;
}
.data tr:last-child {
  border:none;
}
.data table {
  border: 1px solid #555555;
  border-spacing:0;
  border-collapse:collapse;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: start;
}
